.pg-landing-screen {
  &__register {
    background-image: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    background: var(--landing-background-color);
  }

  &__trade-on-the-go {
    background-image: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    background: var(--landing-background-color);
  }
}
